@charset "utf-8";
/*reset
----------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input,select,textarea,button{border:0 none;font-size:100%;margin:0;padding:0;}
body,input,select,textarea,button{line-height:1;color:#444;font:12px/1.5 Arial,"宋体";outline:none;-webkit-text-size-adjust:100%;}
s{display:inline-block;vertical-align:middle;}
ol,ul,li{list-style-type:none;}
a{color:#40628D;text-decoration:none;outline:none;}
a:hover{color:#fc5e17;text-decoration:underline;}
em,cite,i{font-style:normal;}

/* public style 
--------------------------------*/
h1,h2,h3,h4,h5,h6,.nav-cate,.navigation{font-family: '微软雅黑'}
.color999{color:#999}
.color777{color:#777}
.fl{float:left;}
.fr{float:right;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.p20{
	padding:20px;
}
.plr10{
	padding: 0 10px;
}
.pl20{
	padding-left:20px;
}
.indent{text-indent:2em;}
.none{display:none;}
.f-fix{float:left;width:100%;}
.clearfix:after{content:".";clear:both;display:block;font-size:0;line-height:0;height:0;overflow:hidden;}
.f-simsun{font-family:SimSun;}
.f-arial{font-family:Arial;}
.f-w{font-weight:normal}
.red-border{
	border: 1px solid #b20000;
}
.redline-3{
	height:3px;
	overflow:hidden;
	background:#b20000;
}
.grey-border{
	border:1px solid #e8e8e8
}
/*layout*/
.topbar, .header, .main, .nav-box{
	margin:0 auto;
	overflow:hidden;
	*zoom:1;
	width:960px;
}
.w190{
	width:190px;
}
.w744{
	width: 744px;
}
/*uiBtn
------------------------*/
.uiBtn, .uiBtn span {
	display: inline-block;
	height: 32px;
	padding-left: 26px;
	background: url(../images/com_bg.png) left 0 no-repeat;
	cursor: pointer;
	vertical-align: middle;
}
.uiBtn span {
	padding: 0 26px 0 0;
	background-position: right 0;
	color: #FFF;
	font: 14px 'SimSun';
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	line-height: 32px;
}

.uiBtn:hover, .uiBtn:hover span {
	background-position: left -40px;
	text-decoration: none;
}
.uiBtn.b2, .uiBtn.b2 span {
	height: 26px;
	padding-left: 1.2em;
	background-position: left -80px;
	line-height: 26px;
	overflow: hidden;
}
.uiBtn.b2 span {
	padding: 0 1.2em 0 0;
	background-position: right -80px;
	font-size: 12px;
	color: #333;
}
/*f module*/
.f .block{
	width: 207px;
}
.f .box {
	width: 753px;
}
.block-content {
	background: #f9f9f9;
	padding: 9px;
}
.f .block-content {
	border: 1px solid #e4e5e5;
	position: relative;
	height: 229px;
	overflow: hidden;
}
/*input ui
-----------------*/
.input-text{
	border:1px solid #cecece;
	padding:6px;
	width: 250px;
	height:16px;
	line-height:16px;
}
.checkcode{
	width:66px;
	margin-right:10px;
}
.button {
	padding: 3px 14px;
	background: #9e0101;
	font-size: 12px;
	color: #fff;
}
/* header 
--------------------------------*/
.header .logo a,.header .hot-line s,.topbg a,.searchbar{
	background:url(../images/public.png) no-repeat;
}
.header{color:#FFF;height:90px;position:relative;}
.header .logo{width:400px;padding:15px 0;}
.header .logo a{background-position:0 -54px;display:block;height:65px;text-indent:-2000px;overflow:hidden;}
.header .links{position:absolute;right:0;top:7px;height:23px;line-height:23px;}
.header .links li{display:inline;}
.header .links li span{color:#999;margin:0 6px;}
.header .links a{color:#444;}
.header .links a:hover{color:#f4730f;}
.header .hot-line{color:#444;font-size:20px;font-family:Arial;}
.header .hot-line s{background-position:0 0;width:18px;height:18px;}
.topbg{position:absolute;bottom:0;left:330px;width:380px;}
.topbg a{background-position:0 -18px;display:block;height:80px;overflow:hidden;text-indent:-9999px;}
.searchbar{background-position:0 -18px;width:494px;height:30px;padding:3px;position:absolute;right:0;bottom:13px;}
.searchbar .input-text{background:#fff;border:none;color:#999;padding:5px;margin:0;height:20px;line-height:20px;width:406px;}
.searchbar .button-search{background:none;width:81px;height:36px;position:absolute;right:0;top:0;text-indent:-9999px;}
/*nav-container
-----------------------------*/
.nav-container{
	height:44px;
	background-color:#b20000;
}
.nav-cate{
	background:#9e0101;
	cursor:pointer;
	height:44px;
	line-height:44px;
	width:190px;
	font-size:18px;
	text-align:center;
	color:#fff;
}
.nav-cate b{background-position:-221px -911px;width:24px;height:24px;position:absolute;margin:0;right:5px;top:8px;}
.nav-cate .categories{position:absolute;top:38px;left:0;}
.navigation li{float:left;margin-top:5px;width:80px;line-height:38px;text-align:center;}
.navigation li a{font-size:14px;color:#fff}
.navigation .current{float:left;background-color:#fff;}
.navigation .current a{font-size:16px;color:#b20000}
/*shortcut
--------------------------------*/
.shortcut{margin-top:6px;border-radius:4px;padding:0 10px;height:31px;line-height:31px;background:#9e0101;}
.shortcut,.shortcut a{color:#fff}
.shortcut span {position:relative;margin:0 3px;}
.shortcut .ic-order{
	padding-right:12px;
} 
.shortcut span i{
	position:absolute;
	top:5px;
	right: 0;
	display:inline-block;
	border-color:#fff #9e0101 #9e0101;
	border-style:solid;
	border-width:4px;
	width:0;
	height:0;
	overflow:hidden;
}
/*categroy
------------------------*/
.categories{
	width:190px;
	background:#fffef7;
}
.categories .categorys{
	border:1px solid #b70f0f;
	padding:4px 4px 0;
	height:594px;
}
.categories .parent{
	position:relative;
	border:1px solid #fffef7;
	height: 33px;
	border-bottom-color:#efede0;
}
.categories .noborder{
	border-bottom: 0 none;
}
.categories .parent .cate-con{
	background:url(../images/cate_aw.gif) no-repeat 168px 10px;
	padding:5px 10px;
}
.categories .parent a{
	font-size:14px;
	color: #444;
	text-decoration: none;
}
.categories .hover{
	border:1px solid #b70f0f;
	width: 183px;
}
.categories .hover .cate-con{
	position: absolute;
	height: 23px;
	width: 200px;
	background-color: #fff;
}
.categories .hover a{
	color: #b20000;
}
.categories .parent i{
	display:inline-block;
	width:16px;
	height:16px;
	margin:2px 10px 0 0;
	vertical-align:top;
	background:url(../images/cat-icon.png) no-repeat;
}
.categories .icon1:hover i,.categories .icon1 .sh {
	background-position: -21px 0;
}
.categories .icon2 i {
	background-position: 0 -16px;
}
.categories .icon2:hover i,.categories .icon2 .sh {
	background-position: -21px -16px;
}
.categories .icon3 i {
	background-position: 0 -32px;
}
.categories .icon3:hover i,.categories .icon3 .sh {
	background-position: -21px -32px;
}
.categories .icon4 i {
	background-position: 0 -48px;
}
.categories .icon4:hover i,.categories .icon4 .sh {
	background-position: -21px -48px;
}
.categories .icon5 i {
	background-position: 0 -64px;
}
.categories .icon5:hover i,.categories .icon5 .sh {
	background-position: -21px -64px;
}
.categories .icon6 i {
	background-position: 0 -80px;
}
.categories .icon6:hover i,.categories .icon6 .sh {
	background-position: -21px -80px;
}
.categories .icon7 i {
	background-position: 0 -96px;
}
.categories .icon7:hover i,.categories .icon7 .sh {
	background-position: -21px -96px;
}
.categories .icon8 i {
	margin-left: -2px;
	margin-top: 6px;
	width: 18px;
	height:10px;
	background-position: 0 -113px;
}
.categories .icon8:hover i,.categories .icon8 .sh {
	background-position: -21px -113px;
}
.categories .icon9 i {
	margin-left: -3px;
	margin-top: 4px;
	width: 19px;
	height: 12px;
	background-position: 0 -123px;
}
.categories .icon9:hover i,.categories .icon9 .sh {
	background-position: -21px -123px;
}
.categories .icon10 i {
	margin-top:3px;
	height:13px;
	background-position: 0 -135px;
}
.categories .icon10:hover i,.categories .icon10 .sh {
	background-position: -21px -135px;
}
.categories .icon11 i {
	margin-left: -2px;
	width: 18px;
	background-position: 0 -148px;
}
.categories .icon11:hover i,.categories .icon11 .sh {
	background-position: -21px -148px;
}
.categories .icon12 i {
	background-position: 0 -166px;
}
.categories .icon12:hover i,.categories .icon12 .sh {
	background-position: -21px -166px;
}
.categories .icon13 i {
	margin-left: -2px;
	width: 18px;
	background-position: 0 -183px;
}
.categories .icon13:hover i,.categories .icon13 .sh {
	background-position: -21px -183px;
}
.categories .icon14 i {
	background-position: 0 -200px;
}
.categories .icon14:hover i,.categories .icon14 .sh {
	background-position: -21px -200px;
}
.categories .icon15 i {
	background-position: 0 -216px;
}
.categories .icon15:hover i,.categories .icon15 .sh {
	background-position: -21px -216px;
}
.categories .icon16 i {
	background-position: 0 -232px;
}
.categories .icon16:hover i,.categories .icon16 .sh {
	background-position: -21px -232px;
}
.categories .icon17 i {
	background-position: 0 -248px;
}
.categories .icon17:hover i,.categories .icon17 .sh {
	background-position: -21px -248px;
}
/*subcate
------------------------------*/
.subnav{
	background: #fff;
	border: 1px solid #b70f0f;
	border-left: 0 none;
	position: absolute;
	left: -9999px;
	padding: 10px;
	width: 540px;
	z-index: 1;
	line-height: 25px;
	font-size: 12px;
}

.categories .block-subnav{border-bottom:1px solid #eee;padding:5px 0;}
.categories .block-subnav h3{color:#b20000;margin-bottom:5px;float:left;width:90px;text-align:right;}
.categories .subnav-list{margin-left:100px;}

.categories .subnav li{display:inline;}
.categories .subnav a{background:none;border:none;border-left:1px solid #ddd;color:#666;cursor:pointer;line-height:25px;display:inline;font-weight:normal;padding:0 10px; white-space:nowrap;font-size:12px;font-family: "宋体"}
.categories .subnav a:hover{color:#b20000;}
.categories a.selected{color:#b20000;}

.categories1{border-width:1px;border-color:#ddd;width:188px;}
.categories1 a,
.categories1 .level-1{padding-left:10px;font-size:12px;}
.categories1 s{display:none;}

.categories .last{border-bottom:none;}
.categories .last a{background:none;border-bottom:none;}
.nosubnav a{width:168px;background-position:0 -296px;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis; text-overflow: ellipsis;}

/*footer
--------------------------------*/
.footer {
	margin-top: 10px;
	background: url(../images/footer-bg.jpg) repeat-x 0 0 #fff;
	color: #444;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
/*help
--------------------------------*/
.helper {
	padding: 20px 0;
}
.helper dl {
	float: left;
	width: 70px;
	border-right: 1px solid #c3cad1;
	padding: 0 60px;
	text-align: left;
	line-height: 22px;
}
.helper .helper1{
	background:url(../images/h1.gif) no-repeat 40px 2px;
}
.helper .helper2{
	background:url(../images/h2.gif) no-repeat 40px 2px;
}
.helper .helper3{
	background:url(../images/h3.gif) no-repeat 40px 2px;
}
.helper .helper4{
	background:url(../images/h4.gif) no-repeat 40px 2px;
}
.helper .helper5{
	background:url(../images/h5.gif) no-repeat 40px 2px;
}
.helper dt {
	font-weight: bold;
}
.helper a {
	color: #777;
}
.footer .links{
	border-top: 1px solid #ebf0f5;
	padding: 20px 0 5px;
}
.footer .links,.links a,.copyright{
	color: #666;
}
.footer .links a{
	display: inline-block;
	margin: 0 4px;
}
.copyright{
	line-height:18px;
}