/* bread-nav
--------------*/
.bread-nav,
.bread-nav a{
	color: #666;
}
.bread-nav{
	border-bottom: 1px solid #ccc;
	padding:10px;
}
.bread-nav em{
	margin: 0 10px;
}
/* tab
---------------------*/
.tabs li{
	float: left;
	margin-top: 2px;
	margin-right:2px;
	padding:3px 10px;
	background: #efeded;
	font-size: 12px;
	color: #666;
	cursor: pointer;
}
.tabs .curr{
	margin-top: 0;
	padding:4px 20px;
	background: #b20000;
	color:#fff;
}
/* mb tit
----------------------------*/
.pc-con-tit{
	margin-bottom: 10px;
}
/* mb module
--------------*/
.mt{
	padding: 10px 20px;
	font-size:14px;
}
.mc a{
	display: block;
	padding: 5px 0px 5px 25px;
}
.mc a.curr{
	background-color:#b20000;
	color: #fff
}
/*form-style
---------------*/
.form-style label{
	padding:0 6px;
	font-weight: bold;
	color: #666
}
.form-style .input-text{
	width: 204px;
	padding:3px 5px;
}

.search-filter {
	display: none;
	margin: 10px 0
}
.search-filter li{
	float:left;
}
.search-filter .col2{
	padding-top: 3px;
}
.search-filter .input-text{
	width:80px;
}
.more-filter,.less-filter{
	margin-left: 5px;
	padding-right: 10px;
	background:url(../images/aw2.png) no-repeat 75px 6px;
}
.less-filter{
	display: none;
	background-position: 75px -8px;
}
/*table-style
---------------*/
.table-list{
	margin-bottom: 20px;
}
.table-list th,
.table-list td{
	padding:10px;
}
.table-list table,
.table-list th{background:#efeded}
.table-list td{
	background:#fff
}
.table-list td .yellow,
.table-list td .green{
	display: block;
	text-align: center;
}
.table-list td .yellow{
	color: #f60;
}
.table-list td .green{
	color: #44aa28;
}