/* bread-nav
--------------*/
.bread-nav,
.bread-nav a{
	color: #666;
}
.bread-nav{
	border-bottom: 1px solid #ccc;
	padding:10px;
}
.bread-nav em{
	margin: 0 10px;
}
/* input
---------------------*/
.input-text-50,
.input-text-70,
.input-text-100,
.input-text-150,
.input-text-230{
	border: 1px solid #ccc;
}
.input-text-50{
	width:50px;
}
.input-text-70{
	width:70px;
}
.input-text-100{
	width:100px;
}
.input-text-150{
	width:150px;
}
.input-text-230{
	width:100px;
}
.input-text-345{
	width:345px;
}
.del-btn{
	display: block;
	width:11px;
	height: 12px;
	overflow: hidden;
	background:url(../images/del.gif) no-repeat 0 0;
	text-indent:-99px;
}
.del-btn:hover{
	background-position: 0 -12px;
}
/* tab
---------------------*/
.tabs li{
	float: left;
	margin-top: 2px;
	margin-right:2px;
	padding:5px 10px;
	background: #efeded;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	cursor: pointer;
}
.tabs li a{
	color: #333;
}
.tabs .curr{
	margin-top: 0;
	padding:6px 20px;
	background: #b20000;
	color:#fff;
}
.tabs .curr a{
	color: #fff;
}
/* mb tit
----------------------------*/
.pc-con-tit{
	margin-bottom: 10px;
	font-size: 14px;
}
/* mb module
--------------*/
.mt{
	padding: 10px 20px;
	font-size:14px;
}
.mc a{
	display: block;
	padding: 5px 0px 5px 25px;
}
.mc a.curr{
	background-color:#b20000;
	color: #fff
}
/*form-style
---------------*/
.fs-red-16{
	font-size:16px;
	color:#c00;
}
.fs-red-16 em{
	font-size:12px;
	color:#999;
}
.searbar dt{
	font-weight: bold;
	margin-bottom:5px;
}
.searbar .h2{
	font-size:14px;
	font-weight:bold;
	font-family:"微软雅黑";
}
.searbar dd span{
	margin-right: 50px;
}
.searbar dd .toggle .more-filter{
	background-position: 27px 6px;
}
.searbar dd .toggle .less-filter{
	background-position: 27px -8px;
}
.searbar dd span input{
	vertical-align:top;
	margin-right:5px;
}
.form-style label{
	padding:0 6px;
	font-weight: bold;
	color: #666
}
.form-style .input-text{
	width: 204px;
	padding:3px 5px;
}

.search-filter {
	display: none;
	margin: 10px 0
}
.search-filter li{
	float:left;
}
.search-filter .col2{
	padding-top: 3px;
}
.search-filter .input-text{
	width:80px;
}
.more-filter,.less-filter{
	margin-left: 5px;
	padding-right: 10px;
	background:url(../images/aw2.png) no-repeat 75px 6px;
}
.less-filter{
	display: none;
	background-position: 75px -8px;
}
/*table-style
---------------*/
.table-list{
	margin-bottom: 20px;
}
.table-list th,
.table-list td{
	padding:10px;
}
.table-list table,
.table-list th{background:#efeded}
.table-list td{
	background:#fff
}
.table-list td div{
	line-height:25px;
}
.table-list td .yellow,
.table-list td .green{
	display: block;
	text-align: center;
}
.yellow{
	color: #f60;
}
.green{
	color: #44aa28;
}
.red-btn,
.r-btn,
.grey-btn{
	width: 100px;
	height:30px;
	line-height:30px;
	background:#f69468;
	display:inline-block;
	text-align: center;
	font-size:12px;
	font-weight: bold;
	color: #fff;
}
.red-btn:hover,.r-btn:hover{
	color:#fff
}
.r-btn{background:#b20000}

.grey-btn:hover{
	color: #333
}
.grey-btn{
	background-color:#dcdcdc;
	color: #333
}
/* order btn
-------------------*/
.myorder-btn{
	text-align: center;
}
.myorder-btn input{
	margin: 0 10px;
	padding:5px 20px;
	border:0;
	color: #fff;
}
.myorder-btn .sub{
	background: #b20000;
}
.myorder-btn .res{
	background: #818181;
}
/* not have order
------------------------*/
.not-have{
	padding-left: 20px;
	background: url(../images/light.gif) no-repeat left center;
}
/* order 
----------------------*/
.order-chart h4{
	border-top: 1px solid #ddd;
	padding:20px 0 10px;
	font-size: 14px;
	color: #333;
}
.order_info_detail{
	padding-top: 5px;
	line-height:22px;
}
/* 配送
----------------*/
.statu_show {padding:24px 0;}
.statu_show ul li {float:left;width:130px;margin-right:32px;color:#999999;text-align:center;position:relative;}
.statu_show ul li .o_statu {padding:0 0 14px 0;}
.statu_show ul li .wrap_img {display:block;width:80px;height:76px;margin:0 25px;background:url(../images/order_status.png) no-repeat 0 0;}
.statu_show ul li.o_pay .wrap_img {background-position:-85px 0;}
.statu_show ul li.o_out .wrap_img {background-position:0 -81px;}
.statu_show ul li.o_distri .wrap_img {background-position:0 -162px;}
.statu_show ul li.o_signfo .wrap_img {background-position:0 -243px;}
.statu_show ul li.o_invalid .wrap_img {background-position:0 -324px;}
.statu_show ul li .wrap_img .img {visibility:hidden;}
.statu_show ul li .done span {display:block;width:22px;height:21px;margin-left:50px;background:url(../images/order_status.png) no-repeat -85px -324px;visibility:hidden;}
.statu_show ul li .ext_txt {padding:4px 0 0;}
.statu_show ul li .time {display:block;}
.statu_show ul li .next_to {position:absolute;top:68px;left:111px;display:block;width:68px;height:11px;overflow:hidden;background:url(../images/order_status.png) no-repeat -85px -366px;}
.statu_show ul li.o_submit .next_to {background-position:-85px -350px;}
.statu_show ul li.o_signfo .next_to,
.statu_show ul li.o_invalid .next_to {display:none;}/*去除最后一个里面的箭头*/

/*作废*/
.statu_show ul li.o_invalid .done span {visibility:visible;}
.statu_show ul li.o_invalid .o_statu {font-size:14px;color:#333333;}
.statu_show ul li.o_invalid .ext_txt {color:#333333;}
/*待支付*/
.statu_show ul.online2 li.o_pay .wrap_img .img,
.statu_show ul.online2 li.o_submit .done span {visibility:visible;}
.statu_show ul.online2 li.o_pay .o_statu {font-size:14px;color:#333333;}
.statu_show ul.online2 li.o_pay .ext_txt {color:#333333;}
/*待出库*/
.statu_show ul.online3 li.o_out .wrap_img .img,
.statu_show ul.online3 li.o_submit .done span,
.statu_show ul.online3 li.o_pay .done span{visibility:visible;}
.statu_show ul.online3 li.o_out .o_statu {font-size:14px;color:#333333;}
.statu_show ul.online3 li.o_out .ext_txt {color:#333333;}
.statu_show ul.online3 li.o_submit .next_to,
.statu_show ul.online3 li.o_pay .next_to {background-position:-85px -350px;}
/*配送中*/
.statu_show ul.online4 li.o_distri .wrap_img .img,
.statu_show ul.online4 li.o_submit .done span,
.statu_show ul.online4 li.o_pay .done span,
.statu_show ul.online4 li.o_out .done span {visibility:visible;}
.statu_show ul.online4 li.o_distri .o_statu {font-size:14px;color:#333333;}
.statu_show ul.online4 li.o_distri .ext_txt {color:#333333;}
.statu_show ul.online4 li.o_out .wrap_img {background-position:-85px -81px;}
.statu_show ul.online4 li.o_submit .next_to,
.statu_show ul.online4 li.o_pay .next_to,
.statu_show ul.online4 li.o_out .next_to{background-position:-85px -350px;}
/*签收*/
.statu_show ul.online5 li.o_signfo .wrap_img .img,
.statu_show ul.online5 li span {visibility:visible;}
.statu_show ul.online5 li.o_out .wrap_img {background-position:-85px -81px;}
.statu_show ul.online5 li.o_distri .wrap_img {background-position:-85px -162px;}
.statu_show ul.online5 li.o_signfo .wrap_img {background-position:-85px -243px;}
.statu_show ul.online5 li.o_signfo .o_statu {font-size:14px;color:#333333;}
.statu_show ul.online5 li.o_signfo .ext_txt {color:#333333;}
.statu_show ul.online5 li .next_to {background-position:-85px -350px;}
/*
------------------------------*/
.status_list {margin-left:30px;padding-top:7px;border-top:1px solid #e1e1e1;color:#666666;}
.status_list ul li {padding-bottom:6px;}
.status_list ul li span {padding-right:25px;}
.status_list ul li.current {color:#333333;}
.status_close ul li {display:none;}
.status_close ul .first {display:block;}

/* Consulting
---------------------------*/
.consult-img{margin-bottom:10px;border: 1px solid #87BEFE;padding: 10px;background:#F6FBFE;text-align:center;}
.online-tit{font-size:14px;margin-bottom: 10px}
.online-talk {overflow:hidden;*zoom:1}
.online-talk li{float: left;overflow: hidden;*zoom:1;width: 50%;height: 90px;margin-bottom: 10px;}
.online-talk li img.fl{margin:0 10px;border: 1px solid #057BD2;border-radius: 3px;padding: 2px;}
.online-talk dl{line-height: 20px;}
.online-talk dt{margin-bottom: 5px;}
.online-talk dt strong{font-size: 14px}

/* profile
-----------------*/
.profile-tit{
    border-bottom: 1px solid #b20000;
    padding: 10px 5px;
    font-size: 14px;
}
.profile ul{
    padding: 0 10px 10px;
}
.profile li{
    padding-top:10px;
    font-size: 12px;
}
.profile strong{
    float: left;
    width: 67px;
}
.profile strong.long{
    width: 105px;
}
.profile img{
    border: 1px solid #DDD;
}
.shoping-address{padding-bottom: 10px}

.newaddress {
    border: 1px solid #ddd;
    padding: 10px;
    background: #F3F3F3;
}
.newaddress td{
    padding: 10px;
}
.newaddress b{font-size: 14px;color: #f00}
.newaddress select{
    border: 1px solid #ddd;
}
.shopAds-tips{
    margin-left:10px;
    color: #999;
}
.save-shopads{
    border: 1px solid #ddd;
    width: 84px;
    height: 24px;
    text-align: center;
    background: url("../images/shopads-btn.png") repeat-x;
}