/* bread-nav
--------------*/
.bread-nav,
.bread-nav a{
	color: #666;
}
.bread-nav{
	border-bottom: 1px solid #ccc;
	padding:10px;
}
.bread-nav em{
	margin: 0 10px;
}
/* input
---------------------*/
.input-text-50,
.input-text-70,
.input-text-100,
.input-text-150,
.input-text-230{
	border: 1px solid #ccc;
}
.input-text-50{
	width:50px;
}
.input-text-70{
	width:70px;
}
.input-text-100{
	width:100px;
}
.input-text-150{
	width:150px;
}
.input-text-230{
	width:100px;
}
.del-btn{
	display: block;
	width:11px;
	height: 12px;
	overflow: hidden;
	background:url(../images/del.gif) no-repeat 0 0;
	text-indent:-99px;
}
.del-btn:hover{
	background-position: 0 -12px;
}
/* tab
---------------------*/
.tabs li{
	float: left;
	margin-top: 2px;
	margin-right:2px;
	padding:5px 10px;
	background: #efeded;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	cursor: pointer;
}
.tabs li a{
	color: #333;
}
.tabs .curr{
	margin-top: 0;
	padding:6px 20px;
	background: #b20000;
	color:#fff;
}
.tabs .curr a{
	color: #fff;
}
/* mb tit
----------------------------*/
.pc-con-tit{
	margin-bottom: 10px;
	font-size: 14px;
}
/* mb module
--------------*/
.mt{
	padding: 10px 20px;
	font-size:14px;
}
.mc a{
	display: block;
	padding: 5px 0px 5px 25px;
}
.mc a.curr{
	background-color:#b20000;
	color: #fff
}
/*form-style
---------------*/
.searbar dt{
	font-weight: bold;
	margin-bottom:5px;
}
.searbar dd span{
	margin-right: 50px;
}
.searbar dd span input{
	vertical-align:top;
	margin-right:5px;
}
.form-style label{
	padding:0 6px;
	font-weight: bold;
	color: #666
}
.form-style .input-text{
	width: 204px;
	padding:3px 5px;
}

.search-filter {
	display: none;
	margin: 10px 0
}
.search-filter li{
	float:left;
}
.search-filter .col2{
	padding-top: 3px;
}
.search-filter .input-text{
	width:80px;
}
.more-filter,.less-filter{
	margin-left: 5px;
	padding-right: 10px;
	background:url(../images/aw2.png) no-repeat 75px 6px;
}
.less-filter{
	display: none;
	background-position: 75px -8px;
}
/*table-style
---------------*/
.table-list{
	margin-bottom: 20px;
}
.table-list th,
.table-list td{
	padding:10px;
}
.table-list table,
.table-list th{background:#efeded}
.table-list td{
	background:#fff
}
.table-list td div{
	line-height:25px;
}
.table-list td .yellow,
.table-list td .green{
	display: block;
	text-align: center;
}
.table-list td .yellow{
	color: #f60;
}
.table-list td .green{
	color: #44aa28;
}
.red-btn,
.grey-btn{
	width: 100px;
	height:30px;
	line-height:30px;
	background:#f69468;
	display:inline-block;
	text-align: center;
	font-size:12px;
	font-weight: bold;
	color: #fff;
}
.red-btn:hover{
	color:#fff
}
.grey-btn:hover{
	color: #333
}
.grey-btn{
	background-color:#dcdcdc;
	color: #333
}
/* order btn
-------------------*/
.myorder-btn{
	text-align: center;
}
.myorder-btn input{
	margin: 0 10px;
	padding:5px 20px;
	border:0;
	color: #fff;
}
.myorder-btn .sub{
	background: #b20000;
}
.myorder-btn .res{
	background: #818181;
}